Repository Marshallup/vite-vue3-ts-es-stylelint-template: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:scripts, stylelint --fix, prettier -w -u

.lintstagedrc:

{
  "*.{ts,tsx,vue}": "yarn lint:scripts",
  "*.{css,scss,vue}": "stylelint --fix",
  "*": "prettier -w -u"
}

test
  src/components/HelloWorld.vue
  yarn.lock
Due: yarn lint:scripts, stylelint --fix, prettier -w -u

sdasd
  src/components/HelloWorld.vue
Due: yarn lint:scripts, stylelint --fix, prettier -w -u

adsd
  .husky/pre-commit
  .lintstagedrc
  .lintstagedrc.json
  package.json
  src/components/HelloWorld.vue
Due: yarn lint:scripts, stylelint --fix, prettier -w -u

Squashed commit of the following:
  .eslintrc.js
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc
  .stylelintrc
  .vscode/settings.json
  package.json
  src/App.vue
  src/components/HelloWorld.vue
  src/main.ts
  src/style.scss
  src/vite-env.d.ts
  vite.config.ts
  yarn.lock
Due: yarn lint:scripts, stylelint --fix, prettier -w -u

доработка архитектуры
  .lintstagedrc.json
  index.html
  src/App.vue
  src/assets/images/icons/vue.svg
  src/assets/styles/style.scss
  src/components/HelloWorld.vue
  src/main.ts
Due: yarn lint:scripts, stylelint --fix, prettier -w -u

Squashed commit of the following:
  .lintstagedrc.json
  index.html
  src/App.vue
  src/assets/images/icons/vue.svg
  src/assets/styles/style.scss
  src/components/HelloWorld.vue
  src/main.ts
Due: yarn lint:scripts, stylelint --fix, prettier -w -u

удалил стиль
  src/style.scss
Due: stylelint --fix, prettier -w -u

настройка стайлинтера
  .stylelintrc
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  src/assets/styles/style.scss
  yarn.lock
Due: stylelint --fix, prettier -w -u

Настройка tailwind
  postcss.config.js
  src/style.css
  tailwind.config.js
Due: stylelint --fix, prettier -w -u

настройка tailwind
  .stylelintrc
  package.json
  src/App.vue
  src/assets/styles/style.scss
  src/main.ts
  vite.config.ts
  yarn.lock
Due: yarn lint:scripts, stylelint --fix, prettier -w -u

настройка tailwind
  .lintstagedrc.json
Due: prettier -w -u

Squashed commit of the following:
  .lintstagedrc.json
  .stylelintrc
  package.json
  postcss.config.js
  src/App.vue
  src/assets/styles/style.scss
  src/main.ts
  src/style.css
  tailwind.config.js
  vite.config.ts
  yarn.lock
Due: yarn lint:scripts, stylelint --fix, prettier -w -u

pinia, router
  .eslintrc-auto-import.json
  .eslintrc.js
  auto-imports.d.ts
  package.json
  src/App.vue
  src/main.ts
  src/pages/HomePage.vue
  src/router/index.ts
  src/router/routes.ts
  src/stores/counter.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: yarn lint:scripts, stylelint --fix, prettier -w -u

описание
  README.md
Due: prettier -w -u

Update README.md
  README.md
Due: prettier -w -u

jsx/tsx настройка, автоимпорт компонентов
  components.d.ts
  package.json
  src/components/AnotherJsx.tsx
  src/components/HelloWorld.vue
  src/components/JsxComp.tsx
  src/pages/HomePage.vue
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: yarn lint:scripts, stylelint --fix, prettier -w -u

components
  components.d.ts
Due: yarn lint:scripts, prettier -w -u

обновил версию vue-ts 1.0.9
  components.d.ts
  package.json
  yarn.lock
Due: yarn lint:scripts, prettier -w -u

layouts system
  components.d.ts
  src/layouts/AboutLayout.vue
  src/layouts/DefaultLayout.vue
  src/pages/AboutPage.vue
  src/router/index.ts
  src/router/routes.ts
Due: yarn lint:scripts, stylelint --fix, prettier -w -u

ts checker
  package.json
  vite.config.ts
  yarn.lock
Due: yarn lint:scripts, prettier -w -u

dev deps
  package.json
Due: prettier -w -u

allow js
  tsconfig.json
Due: prettier -w -u
